.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
	padding-top: 10%;
	width: 80%;
	align-items: center;

}
@media (max-width: 400px) {
.h-custom {
height: 100%;
}
}


.vh-100{
	
	background-color: #eee;
    height: 100vh;
    font-family: 'Poppins', sans-serif; 
    background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat;
}

