* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li {
    margin-top: 1rem;
}

.list-group-item{
    border-width: 0;
}

:host ::ng-deep p-input-icon-left {
    background-color: white;
    border-width: 0;
}
