<div class="wrapper">

        <app-header-home></app-header-home>

        <div class="" style="background-color:antiquewhite">
                <div class="menu">
                        <app-menu></app-menu>
                </div>

                <div class="content">
                        <p-card header="Idea title"
                                [style]="{'width': '50rem', 'margin-bottom': '4em', 'margin-left': 'auto', 'margin-right': 'auto'}"
                                subheader="date post">
                                <a href="">
                                        <p-card
                                                [style]="{'width': '45rem', 'margin-bottom': '2em', 'margin-left': 'auto', 'margin-right': 'auto'}">
                                                <h6>Le Chien's Sasa group is known by many people in Da Nang as the
                                                        "hero" squad of the sea. They spend all
                                                        their
                                                        energy and
                                                        money to revive corals, rescue unfortunate sea creatures that
                                                        are injured and stranded.</h6>
                                        </p-card>
                                </a>
                                <ng-template pTemplate="footer">
                                        <div [ngStyle]="{'display':'flex', 'flex-direction': 'row'}">
                                                <h6 [ngStyle]="{'margin-right':'20px'}">3 Likes</h6>
                                                <h6 [ngStyle]="{'margin-right':'525px'}">3 Dislikes</h6>
                                                <h6>3 Comments</h6>
                                        </div>
                                </ng-template>
                        </p-card>

                        <p-card header="Idea title"
                                [style]="{'width': '50rem', 'margin-bottom': '4em', 'margin-left': 'auto', 'margin-right': 'auto'}"
                                subheader="date post">
                                <a href="">
                                        <p-card
                                                [style]="{'width': '45rem', 'margin-bottom': '2em', 'margin-left': 'auto', 'margin-right': 'auto'}">
                                                <h6>Le Chien's Sasa group is known by many people in Da Nang as the
                                                        "hero" squad of the sea. They spend all
                                                        their
                                                        energy and
                                                        money to revive corals, rescue unfortunate sea creatures that
                                                        are injured and stranded.</h6>
                                        </p-card>
                                </a>
                                <ng-template pTemplate="footer">
                                        <div [ngStyle]="{'display':'flex', 'flex-direction': 'row'}">
                                                <h6 [ngStyle]="{'margin-right':'20px'}">3 Likes</h6>
                                                <h6 [ngStyle]="{'margin-right':'525px'}">3 Dislikes</h6>
                                                <h6>3 Comments</h6>
                                        </div>
                                </ng-template>
                        </p-card>

                        <p-card header="Idea title"
                                [style]="{'width': '50rem', 'margin-bottom': '4em', 'margin-left': 'auto', 'margin-right': 'auto'}"
                                subheader="date post">
                                <a href="">
                                        <p-card
                                                [style]="{'width': '45rem', 'margin-bottom': '2em', 'margin-left': 'auto', 'margin-right': 'auto'}">
                                                <h6>Le Chien's Sasa group is known by many people in Da Nang as the
                                                        "hero" squad of the sea. They spend all
                                                        their
                                                        energy and
                                                        money to revive corals, rescue unfortunate sea creatures that
                                                        are injured and stranded.</h6>
                                        </p-card>
                                </a>
                                <ng-template pTemplate="footer">
                                        <div [ngStyle]="{'display':'flex', 'flex-direction': 'row'}">
                                                <h6 [ngStyle]="{'margin-right':'20px'}">3 Likes</h6>
                                                <h6 [ngStyle]="{'margin-right':'525px'}">3 Dislikes</h6>
                                                <h6>3 Comments</h6>
                                        </div>
                                </ng-template>
                        </p-card>
                </div>
        </div>


</div>