<p-toast></p-toast>

<div style="margin-bottom: 5%;">

    <div class="menu-bar" style="position: fixed; width: 100%;">
        <app-header-home></app-header-home>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div style="display: flex; justify-content: space-between; ">
        <div style="width: 20%;">
            <div class="menu">
                <app-menu></app-menu>
            </div>
        </div>

        <div class="table-view"
            style="width: 80%; padding: 2%; background-color: white; border-radius: 10px; position: static;">
            <div class="card" style="position: static;">
                <p-toolbar styleClass="mb-4 gap-2" >
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" style="position: static;"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" 
                            (click)="deleteSelectedProducts()"
                            [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </ng-template>

                    
                </p-toolbar>

                <p-table #dt [value]="products" [rows]="10" [paginator]="true" style="position: static;"
                    [globalFilterFields]="['name','country.name','representative.name','status']"
                    [tableStyle]="{'min-width': '75rem'}" [(selection)]="selectedProducts" [rowHover]="true"
                    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="flex align-items-center justify-content-between" style="display: flex;">
                            <h5 class="m-0">Manage Category</h5>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Search..." />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="min-width: 1%">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="name" style="min-width:8rem">Name <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th pSortableColumn="category" style="min-width:9rem">Description</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="product"></p-tableCheckbox>
                            </td>
                            <td>{{product.name}}</td>
                            <td>{{product.category}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            In total there are {{products ? products.length : 0 }} categories.
                        </div>
                    </ng-template>
                </p-table>
            </div>

        </div>
    </div>
</div>





<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Category Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3"
                cols="20"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>