.menu {
    width: 10%;
    float: left;
    margin-top: 2%;
}


:host ::ng-deep .p-button:disabled {
    position: static;
}

.p-button-danger{
    position: static;
}
:host ::ng-deep .p-button-danger:disabled {
    position: static;
}

:host ::ng-deep .p-datatable {
    position: static;
}